<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <img src="images/logo-mercado-liebre.svg" alt="">
        <input type="search" placeholder="Buscar productos, marcas" id="search">
        <i id="fa-search" class="fas fa-search"></i>
        <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul id="top-list">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="fas fa-credit-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt "></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket "></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <div class="banner">
        <img width="100%" src="/images/img-home-banner.jpg" alt="">
    </div>
    <main>
        <h4>Basado en tu última visita</h4>
        <section class="tarjetas">
            <article class="card">
                <img width="100%" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div>
                        <p>$6.770</p>
                        <p class="descuento">40% off</p>
                    </div>
                    <h6>Cafetera Moulinex</h6>
                </div>
            </article>
            <article class="card">
                <img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p>$230.000</p>
                    <p class="descuento">20% off</p>
                    <h6>MacBook Pro 2019</h6>
                </div>
            </article>
            <article class="card">
                <img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p>$70.500</p>
                    <p class="descuento">10% off</p>
                    <h6>Samsung Galaxy S10</h6>
                </div>
            </article>
            <article class="card">
                <img width="100%" src="/images/img-tv-samsung-smart.jpg" alt="">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p>$23.200</p>
                    <p class="descuento">5% off</p>
                    <h6>SmartTv Samsung 43"</h6>
                </div>
            </article>
        </section>
        <h4>Ofertas</h4>
        <section id="tarjetas">
            <article class="card">
                <img width="100%" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div>
                        <p>$6.770</p>
                        <p class="descuento">40% off</p>
                    </div>
                    <h6>Cafetera Moulinex</h6>
                </div>
            </article>
            <article class="card">
                <img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div>
                        <p>$230.000</p>
                        <p class="descuento">20% off</p>
                    </div>
                    <h6>MacBook Pro 2019</h6>
                </div>
            </article>
            <article class="card">
                <img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div>
                        <p>$70.500</p>
                        <p class="descuento">10% off</p>
                    </div>
                    <h6>Samsung Galaxy S10</h6>
                </div>
            </article>
            <article class="card">
                <img width="100%" src="/images/img-tv-samsung-smart.jpg" alt="">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div>
                        <p>$40.000</p>
                        <p class="descuento">5% off</p>
                        <h6>SmartTv Samsung 43"</h6>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="modo-de-pago">
        <div>
            <i class="fas fa-credit-card"></i>
            <h5>Pagá con tarjeta o en efectivo</h5>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </div>
        <div>
            <i class="fas fa-gift"></i>
            <h5>Envío gratis desde $ 2.500</h5>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </div>
        <div>
            <i class="fas fa-user-shield"></i>
            <h5>Seguridad, de principio a fin</h5>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </div>
        </div>
        <div class="copy">
            <small>Copyright © 1999-2020 MercadoLiebre S.R.L.</small>
        </div>
    </footer>
</body>

</html>